version: "3.7"

services:
  runner:
    image: myoung34/github-runner:latest
    restart: always
    volumes:
      - //var/run/docker.sock:/var/run/docker.sock
    environment:
      RUNNER_SCOPE: repo
      RUNNER_NAME_PREFIX: myrunner
      LABELS: currency-exchange
      REPO_URL: https://github.com/letrung1998vn/currency-exchange
      EPHEMERAL: 1
      ACCESS_TOKEN: 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
    deploy:
      replicas: 4
      resources:
        limits:
          cpus: '1'
          memory: 4G
        reservations:
          cpus: '0.2'
          memory: 256M